@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../../styles/media-queries.scss";

.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 0 20px;

  position: fixed;
  width: 100%;
  background: rgb(255, 255, 255);
  top: 0px;
  left: 0;
  padding: 20px 30px;
  z-index: 99;

  .logo {
    width: 120px;
  }

  .menu {
    width: 77.017px;
    height: 47px;
    width: 40px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .menu:hover {
    transform: scale(0.9);
  }
}

@include media-breakpoint-down(md) {
  .header-cont {
    width: 100vw;
    height: 50px;
    position: fixed;
    left: 0;
    padding: 0 20px;

    .logo {
      width: 100px;
    }

    .menu {
      width: 40px;
      height: 30px;
    }
  }
}
