.menu-cont {
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  box-sizing: border-box;
  display: none;

  // position: fixed;
  //   width: 94%;

  .menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cross {
      width: 25px;
      height: 20px;
      width: 54.091px;
      height: 62.842px;
      margin-top: -20px;
      cursor: pointer;
      transition: all 0.3s;
    }

    .cross:hover {
      transform: scale(0.9);
    }

    .logo {
      width: 200px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    list-style: none;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--almost-black, #1a1616);
    text-align: right;
    font-family: Philosopher;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; /* 171.429% */
    letter-spacing: 0.7px;

    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.5s;
      transform: translateX(100%);
      opacity: 0;

      div {
        font-family: Philosopher;
      }
    }

    li:hover {
      color: #26d2ff;
      transform: translateX(-25px);
    }

    .show {
      transform: none;
      opacity: 1;
    }
  }
}
