// .contact-cont {
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   justify-content: space-between;
//   padding: 5%;
//   box-sizing: border-box;

//   .contact-top {
//     flex: 50%;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     text-align: initial;

//     h1 {
//       color: #ae445a;
//       font-size: 80px;
//       font-weight: 700;
//       line-height: normal;
//       margin-bottom: 0;
//     }

//     p {
//       color: #395886;
//       font-size: 30px;
//       font-weight: 700;
//       line-height: normal;
//     }

//     div {
//       display: flex;
//       gap: 20px;
//     }
//   }

//   .contact-bottom {
//     flex: 50%;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
//     text-align: end;
//     align-self: flex-end;

//     p {
//       color: #ae445a;
//       font-size: 30px;
//       font-weight: 700;
//       line-height: normal;
//     }

//     a {
//       color: #395886;
//       font-size: 30px;
//       font-weight: 700;
//       transition: all .7s;
//     }

//     a:hover {
//         color: white;
//     }
//   }
// }
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../../styles/media-queries.scss";

.contact-cont {
  .contact-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 20px;

    p {
      color: var(--almost-black, #1a1616);
      font-family: Quicksand;
      font-size: 21px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: initial;
      margin-top: 0;
    }

    .socials-cont {
      display: flex;
      gap: 15px;

      img {
        width: 70px;
        height: 70px;
      }
    }

    h1 {
      color: var(--almost-black, #1a1616);
      font-family: Philosopher;
      font-size: 70px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.8px;
      margin: 0;
    }
  }
  .contact-bottom {
    text-align: initial;
    color: var(--almost-black, #1a1616);
    font-family: Quicksand;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;

    a {
      color: #9c27b0;
    }
  }

  @include media-breakpoint-down(md) {
    .contact-top {
      display: flex;
      flex-direction: column-reverse;
      padding: 0;
      padding-bottom: 20px;
      align-items: flex-start;

      .ct-inner {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: initial;

        p {
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .socials-cont {
          gap: 10px;

          img {
            width: 40px;
            height: 40px;
          }
        }
      }

      h1 {
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.35px;
        width: 100%;
        margin-top: 0.5rem;
        text-align: end;
        margin-bottom: 80px;
      }
    }

    .contact-bottom {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 80%;
      text-align: initial;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      padding: 25px 0;
    }
  }
}
